<h1>Getting an access token with Azure AD B2C and calling a Web API</h1>
<div *ngIf="!isOnline; else isOnlineBlock">
  <div id="label">Sign-in with Microsoft Azure AD B2C</div>
  <button id="auth" (click)="login()">Login</button>
</div>

<ng-template #isOnlineBlock>
  <div id="label">Hello {{user}}</div>
  <button id="logout" (click)="logout()">Logout</button>
  <button id="callApiButton" (click)="callApi()">Call Web API</button>

  <ul>
    <li *ngFor="let log of logs">{{log}}</li>
  </ul>
</ng-template>
